<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update template</title>
</head>
<body>
<div class="p-1">
    <h4>Add Task</h4>
    <form  action="/updateTemplate" method="post">
        <div class="col-md-6 border">
            <div class="form-group">
                <label for="taskName">Task name:</label>
                <input class="form-control" id="taskName" name="name" th:value="${taskTemplate.name}">
            </div>
            <div class="form-group">
                <label for="taskDescription">Task description:</label>
                <textarea class="form-control" id="taskDescription" rows="3" name="description" th:field="${taskTemplate.description}"></textarea>
            </div>
            <div class="form-group">
                <label for="timeForTask">Time for task:</label>
                <input type="number" step="0.01" class="form-control" id="timeForTask" name="timeForTask" th:value="${taskTemplate.timeForTask}">
            </div>
            <input type="hidden" name="oldName" th:value="${taskTemplate.name}">
        </div>
        <div class="p-1">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/" class="btn btn-primary">Close</a>
        </div>
    </form>
</div>
</body>
</html>